
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Country Stats</title>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
 <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="/assets/display.css">
<body>
    <div class="container">
<div class="jumbotron">

<% data.forEach(function(arr1){ %>
    <h5 id="uu" class="card-title">Country Name:- <%= arr1.country %></h5>
    <h5 id="uu" class="card-title">Total Cases:- <%= arr1.confirmed %></h5>  
    <h5 id="uu" class="card-title">Total Deaths:- <%= arr1.deaths %></h5>
    <h5 id="uu" class="card-title">Total Recovered:- <%= arr1.recovered %></h5>
    <h5 id="uu" class="card-title">Critical:- <%= arr1.critical %></h5>

    <% });%>

</div>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-12 col-sm-12">
        <button class="acc">
        <a href="/finder" class="aa">Country Count</a>
    </button>
</div>
<div class="col-md-12 col-sm-12">
    <button class="acc">
    <a href="/" class="aa">Home</a>
</button>
</div>
</div>
</div>
</div>
</div>

</body>
</html>